@font-face {
  font-family: "OCRA";
  src: url("../assets/fonts/OCRA.ttf");
}
main{
  width: 100%;
  height: auto;
}
.h1 {
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: center;
  width: 50%;
  font-family: "OCRA";
  color: #eaff00;
  font-size: 35px;
  font-style: bold;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.conteudo{
  position: relative;
  width: 100%;
}
.portal{
  position: absolute;
  width: 20%;
  top: 33%;
  right: 20%;
  z-index: 3;
}
.fundo_conteudo{
  width: 100%;
  height: auto;
}