@font-face {
  font-family: "OCRA";
  src: url("../assets/fonts/OCRA.ttf");
}

article {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contato {
  width: 18%;
  height: 75%;
  background-color: black;
  border: solid 5px;
  border-color: #2f9331;
  border-radius: 3%;
  text-align: center;
  overflow: hidden;
  z-index: 3;
  margin-bottom: 3%;
}

.contato__nome {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 27px;
  color: rgb(183, 255, 0);
  position: top;
  text-align:right;
  margin-right:5%;
  z-index:2;
}

.contato img {
  width: 130%;
  height: 145%;
  margin-left: -75px;
  overflow: hidden; 
   z-index: 0;
}

.contato__descricao {
  background-color: rgba(170, 255, 0, 0.772);
  border: rgb(26, 255, 0) solid 3px;
  border-radius: 2%;
  font-size: large;
  font-family:"OCRA";
  width: 84% ;
  height: 80px;
  overflow-y: scroll;
  text-align:left;
  margin-left: 1%;
  margin-right: -4%;
  margin-bottom:3%;
  margin-top:2% ;
  padding: 3% 9% 6% 3%;
  z-index:1;
}

.conteudo__pegadinha {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 30%;
  margin-bottom: 3%;
}

.conteudo__pegadinha h1 {
  font-family: "OCRA";
  font-style: italic;
  font-size: 90PX;
  padding-top: -20px;
  margin-right: 20%;
  
}

.conteudo__pegadinha img {
   width: 55%;
   margin-left: 75%;
   margin-top: -40%;
}
.img1 {
  scale: 0.18;
  margin-top: -47%;
  margin-bottom: -53%;
  margin-left:50%;

}