@font-face {
    font-family: "irishgrover";
    src: url("../assets/fonts/IrishGrover-Regular.ttf");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../assets/fonts/JetBrainsMono.ttf");
}

@font-face {
    font-family: "digitalPlay";
    src: url("../assets/fonts/digitalPlay.ttf");
}

@font-face {
    font-family: "get_schwifty";
    src: url("../assets/fonts/get_schwifty.ttf");
}

@font-face {
    font-family: "OCRA";
    src: url("../assets/fonts/OCRA.TTF");
}

.menuTemp {
    font-family: "JetBrainsMono";
    font-size: small;
    background-color: #2f9331;
    box-shadow: 2px 2px 2px #000;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    transform: translate(100px);
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 20px 0px 0px 0px;
    overflow: hidden;
    transition: 1s;

}

.menuTemp ul {
    margin: 2px;
    padding: 0;
}

.menuTemp:hover {
    height: 110px;
}

.menuTemp li {
    list-style-type: none;
    font-family: "OCRA";
}

.menuTemp li:hover{
    opacity: 40%;
}

.menuTemp li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.menuTemp li a:visited {
    color: black;
}

.menu__temporadas {
    font-size: 20px;
    font-weight: bold;
    font-family: Kopub batang;
    padding: 0px 0px 0px 30px;
    margin: 5px 0px 0px 0px;

}

.container_episodios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.episodio {
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: "JetBrainsMono";
    font-size: 20px;
    word-spacing: 10px;
    text-align: justify;
}
.episodio:hover{
    background-color: white;
}
.episodio img {
    border-radius: 25px;
    box-shadow: 2px 2px 2px #000;

}

.episodio a {
    text-decoration: none;

}

.episodio__descricao {
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    word-spacing: 10px;
    color: black;
}

.episodio__titulo {
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: black;
}

.construcao {
    font-family: "irishgrover";
    color: #113612;
    font-size: xx-large;
    margin-left: 810px;
    margin-top: 50px;
}

.construcao__image {
    width: 800px;
    box-shadow: 2px 2px 2px #000;
    margin-left: -225px;
    margin-top: 70px;
    margin-bottom: 70px;
}

@media only screen and (max-width:768px) {

    .episodio {
        width:300px;
        text-align: justify;
    }

    .episodio img {
        width: 300px;
    }
    
}
@media screen and (max-width:1024px) {
    .menuTemp{
        height: 110px;
    }
}
@media only screen and (min-width: 769px) and (max-width:900px) {

    .episodio {
        width: 300px;
        word-spacing: 10px;
        text-align: justify;
    }

    .episodio img {
        width: 300px;
    }
    
}
@media only screen and (min-width: 901px) and (max-width:1995px) {
    
    .episodio {
        width: 400px;
        word-spacing: 10px;
        text-align: justify;
    }

    .episodio img {
        width: 400px;
    }
}
@media only screen and (min-width: 1995px) {
    .episodio {
        width: 800px;
        word-spacing: 10px;
        text-align: justify;
    }

    .episodio img {
        width: 800px;
    }
}