@font-face {
    font-family: "irishgrover";
    src: url("../assets/fonts/IrishGrover-Regular.ttf");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../assets/fonts/JetBrainsMono.ttf");
}

@font-face {
    font-family: "digitalPlay";
    src: url("../assets/fonts/digitalPlay.ttf");
}

@font-face {
    font-family: "get_schwifty";
    src: url("../assets/fonts/get_schwifty.ttf");
}

@font-face {
    font-family: "OCRA";
    src: url("../assets/fonts/OCRA.TTF");
}

.menuTemp {
    font-family: "JetBrainsMono";
    font-size: small;
    background-color: #0bb0cc;
    box-shadow: 2px 2px 2px #000;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    transform: translate(100px);
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 40px 0px 0px 0px;
    overflow: hidden;
    transition: 1s;

}

.menuTemp ul {
    margin: 2px;
    padding: 0;
}

.menuTemp:hover {
    height: 330px;
}

.menuTemp li {
    list-style-type: none;
    font-family: "OCRA";
}

.menuTemp li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.menuTemp li a:visited {
    color: black;
}

.menu__temporadas {
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    font-family: Kopub batang;
    padding: 0px 0px 0px 30px;
    margin: 5px 0px 0px 0px;

}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexbox2 {
    display: flex;
    flex-direction: row;
    gap: 135px;
    margin-left: 65px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.episodio {
    width: 500px;
    /* display: inline-block; */
    margin-top: 50px;
    margin-bottom: 20px;
    /* margin-left: 110px; */
    font-family: "JetBrainsMono";
    font-size: 20px;
    word-spacing: 10px;
    text-align: justify;
}

.episodio img {
    width: 500px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px #000;

}

.episodio a {
    text-decoration: none;

}

.episodio__descricao {
    margin-top: 10px;
    margin-bottom: 20px;
    word-spacing: 10px;
    color: black;
}

.episodio__titulo {
    margin-top: 10px;
    margin-bottom: 30px;
    color: black;
}

.construcao {
    font-family: "irishgrover";
    color: #113612;
    font-size: xx-large;
    margin-left: 810px;
    margin-top: 50px;
}

.construcao__image {
    width: 800px;
    box-shadow: 2px 2px 2px #000;
    margin-left: -225px;
    margin-top: 70px;
    margin-bottom: 70px;
}

@media only screen and (min-width: 0px) and (max-width:480px) {

    .episodio {
        width: 200px;
        /* display: inline-block; */
        margin-top: 50px;
        margin-bottom: 20px;
        /* margin-left: 110px; */
        font-family: "JetBrainsMono";
        font-size: 20px;
        word-spacing: 10px;
        text-align: justify;
    }

    .episodio img {
        width: 200px;
        border-radius: 25px;
        box-shadow: 2px 2px 2px #000;
    }

    .menuTemp {
        font-family: "JetBrainsMono";
        font-size: small;
        background-color: #0bb0cc;
        box-shadow: 2px 2px 2px #000;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        transform: translate(100px);
        text-align: center;
        padding: 5px 5px 5px 5px;
        margin: 40px 0px 0px -40px;
        overflow: hidden;
        transition: 1s;
    
    }

    .menu__temporadas {
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        font-family: Kopub batang;
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 0px;
    
    }
    
}



@media only screen and (min-width: 481px) and (max-width:768px) {

    .episodio {
        width: 300px;
        /* display: inline-block; */
        margin-top: 50px;
        margin-bottom: 20px;
        /* margin-left: 110px; */
        font-family: "JetBrainsMono";
        font-size: 20px;
        word-spacing: 10px;
        text-align: justify;
    }

    .episodio img {
        width: 300px;
        border-radius: 25px;
        box-shadow: 2px 2px 2px #000;
    }

    .menuTemp {
        font-family: "JetBrainsMono";
        font-size: small;
        background-color: #0bb0cc;
        box-shadow: 2px 2px 2px #000;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        transform: translate(100px);
        text-align: center;
        padding: 5px 5px 5px 5px;
        margin: 40px 0px 0px -10px;
        overflow: hidden;
        transition: 1s;
    
    }

    .menu__temporadas {
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        font-family: Kopub batang;
        padding: 0px 0px 0px 0px;
        margin: 4px 0px 0px 0px;
    
    }
    
}

    