main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.coluna__esquerda, .coluna__direita {
    flex-basis: 48%;
    background-color: #83D2E4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    color: #333;
}

.topico {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.topico__img {
    border-radius: 50%;
    margin-right: 10px;
}

.topico-titulo a {
    color: #007BFF;
    text-decoration: none;
}

.user {
    margin-top: 10px;
}

.user img {
    border-radius: 50%;
    margin-right: 5px;
}

.user__name {
    font-weight: bold;
}

.user__resposta {
    margin-left: 25px;
}

form, .forum__topico {
    margin-top: 20px;
}

textarea, .forum__topico input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #8BCF21;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #2F9331;
    text-decoration: none;
}

.criar__topico {
    margin-top: 20px;
    color: #333;
}
