

.conteudo__esquerda {
    float: left;
    width: 70%;
}

.titulo {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.topico {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.topico__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.topico__titulo a {
    color: #333;
    text-decoration: none;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user__img {
    margin-right: 10px;
    border-radius: 50%;
}

.user__name {
    font-weight: bold;
    margin-right: 5px;
}

.user__time {
    font-size: 12px;
    color: #666;
}

.user__resposta {
    margin-top: 10px;
}

.article__conteudo__esquerda {
    width: 60%; 
    margin: 20px auto;
}

.form__resposta {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form__resposta {
    width: 50%;
    padding: 10px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border: groove;
    border-radius: 5px;
    resize: vertical:
}

.form__resposta input[type="submit"] {
    width: 20%;
    padding: 5px;
    background-color: #4caf50;
    color: #fff;
    border: groove;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para o botão de enviar */
.form__resposta input[type="submit"]:hover {
    background-color: #45a049;
}