@font-face {
  font-family: "get scwifty";
  src: url("../assets/fonts/get_schwifty.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../assets/fonts/JetBrainsMono.ttf");
}

.conteudo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.conteudo__esquerda {
  width: 65%;
}
.esquerda__inicio{
    display: flex;
    justify-content: space-around;
}
.inicio__boasVindas{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
}
.inicio__boasVindas h1 {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: "get scwifty";
    color: #07b4c2;
    font-size: 85px;
    margin-bottom: 10%;
  }
  .inicio__boasVindas p {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    text-align: center;
    font-family: "JetBrainsMono";
  }
  #imagem_banner{
    width: 100%;
  }
  .conteudo__esquerda h2{
    text-align: center;
    font-size: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "get scwifty";
    color: #07b4c2;
  }
.conteudo__direita {
    border: solid black;
    border-radius: 50px;
    border-width: 1px;
    padding: 10px 10px 10px 10px;
    margin-left: 50px;
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.twitter-timeline {
  height: 3050px;
}
.card-body{
    background-color: #cee8c0;
} 
.card-youtube{
  width: 100%;
  background-color: #cee8c0;
}
.card-youtube:hover{
    background-color: white;
}
.card-body:hover{
  background-color: white;
}
@media screen and (max-width: 1350px){
  .conteudo__esquerda{
    width: 100%;
  }
  .inicio__boasVindas h1 {
    font-size: 70px;
  }
  .conteudo__direita{
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .inicio__boasVindas p{
    margin-bottom: 0px;
  }
  .esquerda__logoYoutube{
    width: 100%;
  }
  #logoYoutube{
    width: 150px;
  }
}
@media screen and (max-width: 750px){
  .inicio__boasVindas{
    margin-bottom: 0px;
  }
  .inicio__boasVindas h1 {
    font-size: 50px;
  }
  .esquerda__inicio{
    flex-direction: column;
  }
  .inicio__boasVindas p {
    font-size: 15px;
  }
  #imagem_banner{
    width: 60%;
    margin-bottom: 100px;
    text-align: center;
  }
  .inicio__banner{
    text-align: center;
    align-self: center;
  }
  .conteudo__direita{
    width: 95%;
  }
}