@font-face {
  font-family: "OCRA";
  src: url("../assets/fonts/OCRA.TTF")
}

.main {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-bottom: 90px;
  padding-bottom: 100px;
}

.h1 {
  width: 100%;
  height: auto;
  background-color: #e1ff00;
  justify-content: right;
  font-family: "OCRA";
  font-style: bold;
  font-weight: 100;
  font-size: 20px;
  color: #585858;
  text-align: center;
  margin-top: -5px;
  animation-duration: 3.5s;
  animation-name: scroll;
  animation-iteration-count: infinite;

}

@keyframes scroll {
  0% {
    opacity: 0%;
  }

  20% {
    opacity: 0%;
  }

  21% {
    opacity: 100%;
  }

  95% {
    opacity: 100%;
  }

  96% {
    opacity: 0%;
  }

  100% {
    opacity: 0%
  }
}

.card_personagem {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: 5px solid rgb(0, 255, 30);
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.info {
  overflow: hidden;
  opacity: 50%;
  margin-left: 150px;
  margin-top: 65px;
  text-align: right;
  background-color: #000000;
  border-top: 1;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px 0px 0px 0px;
  display: block;
  justify-content: space-around;
  font-family: "OCRA";
  font-style: italic;
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
  font-weight: 50px;
  line-height: 1.5;
  z-index: 4;
}
.info h3{
  font-size: 25px;
}
.info h4{
  font-size: 20px;
}
.img {
  width: 180px;
  height: auto;
  margin-top: -15px;
  margin-left: -30px;
  position: absolute;
  z-index: 2;
  overflow: visible;
}

.card_personagem img:hover {
  transform: scale(1.35);
  transition: 1s;
  z-index: 3;
}

@media only screen and (min-width: 0px) and (max-width:480px) {
  .card_personagem {
    scale: 0.85;
  }

  .info {
    color: black;
    background-color: #e2ff00;
    scale: 0.7;
    margin-left: 150px;
  }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
  .card_personagem {
    scale: 0.85;
  }
  .info {
    scale: 0.7;
    margin-left: 120px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1000px){
  .info {
    color: black;
    background-color: #e2ff00;
  }
}
@media screen and (min-width: 1000px){
  .info:hover {
    width: 85%;
    height: 100%;
    margin-top: 0.1%;
    padding: 1% 1% 1% 1%;
    opacity: 90%;
    background-color: #e2ff00;
    border-color: rgb(114, 114, 114);
    transition: all 0.5s;
    color: black;
    text-align: center;
    z-index: 5;
  }
}