@font-face {
  font-family: "get scwifty";
  src: url("../assets/fonts/get_schwifty.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../assets/fonts/JetBrainsMono.ttf");
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
@keyframes bordas_animacao {
  0% {
    border: solid;
  }
  50% {
    border: dashed;
  }
  100% {
    border: solid;
  }
}
body {
  overflow: hidden;
}
.conteudo {
  margin-top: 2%;
  margin-left: 2%;
}
.conteudo__esquerda {
  width: 80%;
  height: 100%;
  margin-right: 10%;
}
.conteudo__direita {
  width: 100%;
}
.esquerda__inicio {
  display: flex;
  width: 100%;
  height: auto;
  align-items: top;
}
.inicio__boasVindas {
  width: 100%;
  height: 100%;
  text-align: center;
}
.inicio__boasVindas h1 {
  width: 100%;
  height: 50%;
  font-family: "get scwifty";
  color: #07b4c2;
  font-size: 50px;
  margin-bottom: 10%;
}
.inicio__boasVindas p {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "JetBrainsMono";
}
.inicio__banner {
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-left: 10%;
  width: 100%;
  height: 500px;
  border: solid;
  animation-name: bordas_animacao;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.inicio__banner a {
  width: 100%;
  height: 100%;
}
.inicio__banner img {
  width: auto;
  height: 150px;
  /*   margin-left: 20%;
  margin-right: 20%; */
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.inicio__banner h2 {
  width: 100%;
  height: 50%;
  text-align: center;
  font-family: "irishgrover";
  font-size: 30px;
  padding-top: 15%;
}
.esquerda__youtube {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.esquerda__logoYoutube img {
  width: 10%;
}
.esquerda__box-Youtube {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.esquerda__videos-Youtube {
  width: 30%;
}
.esquerda__videos-Youtube p {
  width: 70%;
}
.esquerda__curiosidades {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    "titulo titulo titulo"
    "curiosidade1 curiosidade2 curiosidade3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  gap: 5%;
  align-self: flex-end;
}
.esquerda__curiosidades div p{
  height: 500px;
  overflow-y: auto;
}
.esquerda__curiosidades h2 {
  font-family: "irishgrover";
  font-size: 70px;
  text-align: center;
  grid-area: titulo;
  margin-top: 5%;
}
.esquerda__curiosidades strong {
  font-size: 35px;
  width: 100%;
}
.esquerda__curiosidades img {
  width: 90%;
  margin-bottom: 5%;
}
.esquerda__curiosidades p {
  font-size: 16px;
  width: 100%;
  text-align: justify;
  overflow: auto;
}
.esquerda__curiosidades div {
  padding: 5px 5px 5px 5px;
}
.esquerda__curiosidades div:hover {
  background-color: #2f9331;
  height: auto;
}
.esquerda__curiosidades .curiosidade1 {
  grid-area: curiosidade1;
}
.esquerda__curiosidades .curiosidade2 {
  grid-area: curiosidade2;
}
.esquerda__curiosidades .curiosidade3 {
  grid-area: curiosidade3;
}
.twitter{
  height: 2500px;
  overflow: auto;
}
.card{
  margin: 5px 5px 5px 5px;
}
@media screen and (max-width: 1250px) {
  .esquerda__inicio {
    flex-direction: column;
    align-items: top;
  }
  .inicio__banner {
    width: auto;
    height: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border: solid;
    justify-items: top;
  }
  .esquerda__videos-Youtube {
    margin-top: 1%;
    width: 50%;
  }
  .inicio__banner h2 {
    padding-top: 1%;
  }
  .esquerda__curiosidades {
    margin-top: 40%;
  }
  .conteudo__direita {
    height: 50%;
  }
  .inicio__boasVindas p {
    margin-bottom: 10%;
    margin-top: 10%;
  }
}
/* .twitter-timeline {
  background-color: #2f9331; /* Substitua pela cor desejada em formato hexadecimal */